
<div class="text-center">

  <p><h6 style="color: #065b83;">{{cmss.title}} Posted on : {{  format_date cmss.date_created}}</p></h6>
  <p><span class="col-md-12">{{cmss.content}}</span></p>

  <form class="form new-comemnt-form">
        <div class="form-group">
          <label for="comment-submit"></label>
          <input class="form-input" type="text" id="comment-submit" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" id="s1" value="{{cmss.id}}">Submit</button>
        </div>
  </form>

</div>
<script src="../js/submit-comment.js"></script>
